body {
  font-family: 'Roboto', sans-serif;
  background-color: #dad7cd;
  color: #344e41;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color:#588157;
}

form div {
  margin: 1em;
  display: inline-block;
}
